 
 .body{
 display: flex;
 flex-direction: column;
 height: 100%;
 
 }
 .header{
   display: flex;
   justify-content: space-between;
   background-color:#1F2947;
   padding: 20px;
   
   padding-left: 80px;
   padding-right: 100px;
 }
 
.logo {
   
   display: flex;
  font-size: 30px; 
  padding-left: 40px;
  color:aliceblue;
  font-weight: 700;
}
.link-container{
   display: flex; 
   align-items: center;
   padding-right: 10px;
 
}

/* container for this section */
 
.header-container{ 
  
   background-color:#1F2947; 
   display: flex; 
   height: 500px;
   gap: 80px;
   padding-left: 120px ;
 
  
}
.container1 {
   outline: solid 3px rgb(51, 123, 238); 
}
.awesome { 
   font-size: 48px;
   font-weight:bolder;
   color: rgb(255, 255, 255); 
   font-size: 28px;
   font-weight: 700;
    
   width: 200px
 }
 
.image {  
   box-shadow: 2px 4px 16px rgba(255, 17, 235, 0.2);
}
  
.text {
 color: aliceblue;
 
 display: flex;
 width: 350px
 
} 
button {
   flex-shrink: 0;
   width: 80px;
   height: 30px; 
   background-color: #1F2947;
   color: aliceblue;
   margin-top: 10px;
}
 
ul {
   list-style-type: none;
   
}
a {
   text-decoration: none;
   list-style-image: none;
   color: aliceblue;
}
 


/* section for content section */
 
.title {
   font-size: 36px;
   font-weight: bolder;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 30px;
   
}

.section-container {
  
   display: flex; 
   align-items: center;
   justify-content: center;
   height:500px ;
  
}
.img {
   display: flex;  
   box-shadow: 2px 4px 16px rgba(255, 0, 0, 0.2);
   flex-direction: column;
   border: thick double aqua;
   padding: 1px;
}

.img-txt {
 
}

.text-container {
     
   width: 200px;
}


/* third-section */

.third-section{
   background-color: #E5E7EB;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 500px;
   align-items: center;
 
}
.quote-container {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 790px;
   padding: 20px; 
   flex-wrap: wrap;

}
.quote-mini-text{
   font-weight: bolder;
   font-size: larger;
   display: flex;
   align-items: flex-end;
}

.quote {
   font-size: 36px;
   font-style:italic;
}

/* blue- container */

.box {
   display: flex;
   justify-content: center;
   height: 500px;
   align-items: center;
}
 
 
.blue-container {
   display: flex;
  
   background-color: #3882F6;
   border-radius: 20px;
  padding: 80px;
}
.blue-text1{
   font-weight: bolder;
   color: #E5E7EB;
   font-size: larger;

}
.blue-text{
   color: white;
   font-weight:500;
}


.footer {
   background-color: #1F2947;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #E5E7EB;
}