 
 .body{
 display: flex;
 flex-direction: column;
 height: 100%;
 
 }
 .header{
   display: flex;
   justify-content: space-between;
   background-color:#1F2947;
   padding: 20px;
   outline: solid 4px rgb(0, 255, 115);
   padding-left: 80px;
   padding-right: 100px;
 }
 
.logo {
   outline: solid 3px rgb(221, 141, 44);
   display: flex;
  font-size: 30px; 
  padding-left: 10px;
  color:aliceblue;
  font-weight: 700;
}
.link-container{
   display: flex; 
   align-items: center;
   padding-right: 10px;
   outline: solid 3px rgb(254, 229, 198);
}

/* container for this section */
 
.header-container{
   outline: solid 3px rgb(250, 88, 7); 

   background-color:#1F2947; 
   display: flex;
   padding: 100px;
   gap: 50px ;

   
}
.awesome { 
   font-size: 48px;
   font-weight:bolder;
   color: rgb(255, 255, 255);
 
   font-size: 28px;
   font-weight: 700;
   margin-bottom: 8px;
 }

.button1 {
   outline: solid 3px;
   height: 30px;
   width: 80px; 
}
.image { 
  
   box-shadow: 2px 4px 16px rgba(255, 0, 0, 0.2);
}
 
 
.text {
 color: aliceblue;
 margin-bottom: 50px;
}
  

 
 
button {
   flex-shrink: 0;
   width: 80px;
   height: 30px; 
   background-color: #1F2947;
   color: aliceblue;
}
 
ul {
   list-style-type: none;
   
}
a {
   text-decoration: none;
   list-style-image: none;
   color: aliceblue;
}
 


/* section for content section */

.sc2 {
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}
.title {
   font-size: 36px;
   font-weight: bolder;
 
}

.section-container {
   display: flex; 
   align-items: center;
   justify-content: center;
   margin-top: 50px;
   padding: 0; 
 
}
.img {
 
   padding: 0;
   margin: 0;
}

.img-txt {
   display: flex;
   flex: 1;
   flex-wrap: wrap;

    
}


.footer {
   background-color: #1F2947;
   
}